<div class="main__cont" style="display: table;">
    <div class="main-heading">
        <div class="main-title">
            <ol class="breadcrumb">
                <li class="active">
                    <button ng-if="!bot.is_connected" ng-click="botConnect(bot)" class="btn btn-default btn-xs" type="button"><i class="fa fa-plug" aria-hidden="true"></i> Connect to server</button>
                    <button ng-if="bot.is_connected" ng-click="botDisconnect(bot)" class="btn btn-danger btn-xs " type="button"><i class="fa fa-power-off" aria-hidden="true"></i> Disconnect</button>
                </li>
            </ol>
        </div>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="presentation"><a data-target="#console" data-toggle="tab"><i class="fa fa-terminal" aria-hidden="true"></i> Console</a></li>
        <li role="presentation"><a data-target="#player" aria-controls="player" role="tab" data-toggle="tab"><i class="fa fa-user"></i> Player</a></li>
        <li role="presentation"><a data-target="#inventory" data-toggle="tab"><i class="fa fa-suitcase"></i> Inventory</a></li>
        <li role="presentation"><a data-target="#map" data-toggle="tab"><i class="fa fa-map-o"></i> Map</a></li>
        <li role="presentation"><a data-target="#fight" data-toggle="tab"><i class="fa fa-plus"></i> Fight</a></li>
        <li role="presentation"><a data-target="#options"data-toggle="tab"><i class="fa fa-gear"></i> Options</a></li>
    </ul>
    <div class="tab-content" style="display: table-row;">
        <div class="tab-pane active" id="console" role="tabpanel">
            <div class="console form-control" ng-bind-html="bot.logs" readonly="readonly" placeholder=""></div>
        </div>
        <div class="tab-pane" id="player" role="tabpanel">
            player
        </div>
        <div class="tab-pane" id="inventory" role="tabpanel">
            inventory
        </div>
        <div class="tab-pane" id="map" role="tabpanel">
            map
        </div>
        <div class="tab-pane" id="fight" role="tabpanel">
            fight
        </div>
        <div class="tab-pane" id="options" role="tabpanel">
            options
        </div>
    </div>
</div>