<div class="wrapper">
    <nav class="navbar navbar-static-top header-navbar" style="-webkit-app-region: drag">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <div class="logo text-nowrap">
                    <div class="logo__img"></div>
                    <span class="logo__text">Alpha</span>
                </div>
            </a>
        </div>
        <div class="topnavbar" style="-webkit-app-region: drag">
            <ul style="-webkit-app-region: no-drag;" class="userbar nav navbar-nav">
                <li>
                    <a class="userbar__settings" ng-click="close();"><i class="fa fa-power-off"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="dashboard">
        <div class="sidebar">
            <div class="scrollable scrollbar-macosx">
                <div class="sidebar__cont">
                    <div class="sidebar__menu">
                        <div class="sidebar__title">Menu</div>
                        <ul class="nav nav-menu">
                            <li ui-sref-active="active opened">
                                <a ui-sref="app.dashboard">
                                    <div class="nav-menu__ico"><i class="fa fa-fw fa-tachometer"></i></div>
                                    <div class="nav-menu__text"><span>Dashboard</span></div>
                                </a>
                            </li>
                            <li ui-sref-active="active opened">
                                <a ui-sref="app.settings">
                                    <div class="nav-menu__ico"><i class="fa fa-fw fa-cogs"></i></div>
                                    <div class="nav-menu__text"><span>Settings</span></div>
                                </a>
                            </li>
                        </ul>
                        <div class="sidebar__title">Bots</div>
                        <ul class="nav nav-menu">
                            <li ng-repeat="(index, bot) in bots" ui-sref-active="active opened">
                                <a ui-sref="app.bot({ id: index })">
                                    <div class="nav-menu__ico"><i class="fa fa-fw fa-user"></i></div>
                                    <div class="nav-menu__text"><span>{{bot.account.username}}</span></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main__scroll scrollbar-macosx" ui-view>

            </div>
        </div>
    </div>
</div>