<div class="wrapper">
    <nav class="navbar navbar-static-top header-navbar">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">
            <div class="logo text-nowrap">
                <div class="logo__img"></div><span class="logo__text">Alpha</span>
            </div>
        </a>
    </div>
    <div class="topnavbar">
        <ul class="nav navbar-nav navbar-left" style="-webkit-app-region: drag"> 
        </ul>
        <ul style="-webkit-app-region: no-drag;" class="userbar nav navbar-nav">
        <li class="dropdown">
            <a class="userbar__settings" on-click="remote.getCurrentWindow().close(); return false;"><i class="fa fa-power-off"></i></a>
        </li>
        </ul>
    </div>
    </nav>
    <div class="dashboard">
    <div class="sidebar">
        <div class="scrollable scrollbar-macosx">
        <div class="sidebar__cont">
            <div class="sidebar__menu">
            <div class="sidebar__title">Menu</div>
            <ul class="nav nav-menu">
                <li><a href="index.html">
                    <div class="nav-menu__ico"><i class="fa fa-fw fa-tachometer"></i></div>
                    <div class="nav-menu__text"><span>Dashboard</span></div></a></li>
                <li><a href="products.html">
                    <div class="nav-menu__ico"><i class="fa fa-fw fa-cube"></i></div>
                    <div class="nav-menu__text"><span>Products</span></div></a></li>
                <li><a href="#">
                    <div class="nav-menu__ico"><i class="fa fa-fw fa-envelope"></i></div>
                    <div class="nav-menu__text"><span>Mailbox</span></div>
                    <div class="nav-menu__right"><i class="fa fa-fw fa-angle-right arrow"></i></div></a>
                <ul class="nav nav-menu__second collapse">
                    <li><a href="inbox.html">Inbox</a></li>
                    <li><a href="sent.html">Sent</a></li>
                    <li><a href="compose.html">Compose</a></li>
                </ul>
                </li>
                <li><a href="orders.html">
                    <div class="nav-menu__ico"><i class="fa fa-fw fa-truck"></i></div>
                    <div class="nav-menu__text"><span>Orders</span></div>
                    <div class="nav-menu__right"><i class="badge badge-default">2</i></div></a></li>
                <li><a href="users.html">
                    <div class="nav-menu__ico"><i class="fa fa-fw fa-user"></i></div>
                    <div class="nav-menu__text"><span>Users</span></div></a></li>
                <li ><a href="#"><!--class="active opened"-->
                    <div class="nav-menu__ico"><i class="fa fa-fw fa-folder-o"></i></div>
                    <div class="nav-menu__text"><span>Other</span></div>
                    <div class="nav-menu__right"><i class="fa fa-fw fa-angle-right arrow"></i></div></a>
                <ul class="nav nav-menu__second collapse in">
                    <li class="active"><a href="blank.html">Blank</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </div>
    <div ui-view class="main">

    </div>
    </div>
</div>