body:before {
  background: rgba(0, 0, 0, 0);
}

body {
  -webkit-user-select: none;
}

.header-navbar {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px
}

.main-heading .main-title {
    padding-right: 0px;
    margin-right: 0px;
}

.tab-content  {
    background-color: #30363c;
}

.nav-tabs>li.active>a {
    background-color: #30363c;
    border: 1px solid #30363c;
}

.tabset, .tab-content, .tab-pane, .tabbable {
    height:100%;
}

.main__cont {
    height: 100%;
    width: 100%;
}

.tab-content>.active {
    padding: 15px 15px;
}

textarea.console {
    height: 100%;
    resize: none;
}

.navbar-header {
    float: left;
}

.navbar-nav {
    margin: 0;
}